<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	
	<!-- 配置文件加载器  -->
	<bean id="propertiesConfigurer" class="com.icapture.init.properties.PropertiesConfigurer" >
		<property name="fileEncoding" value="UTF-8" />
		<property name="locations">
			<list>
				<value>classpath*:../config/app_*.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- application全局对象加载器 -->
	<bean id="application" class="com.icapture.init.properties.ApplicationConfigurer" lazy-init="false"/>
	
</beans>