<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean id="dbHandle" class="com.connection.db.DBHandle" depends-on="propertiesConfigurer" lazy-init="false" singleton="true" init-method="init">
		<property name="configNames">
			<set>
				<value>default</value>
			</set>
		</property>
		<property name="propertiesSource" ref="propertiesConfigurer" />
	</bean>
	
</beans>